body {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fbfbfb;
}

.navbar-title {
    margin-top: 7px;
    font-family: "Parisienne", cursive;
    font-weight:700;
    font-size:  35px;;
}

.d-flex {
    margin-left: 10px !important;
}

.navbar-toggler {
    margin-right: 15px;
}

.navbar-brand a {
    font-family: "Neonderthaw", cursive;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    height: 6.5rem;
}

.search{
    width: 100%;
    /* margin-left: 4rem !important; */
    margin-bottom: 1rem;
}

.nav-link {
    color: #222222 !important;
    font-weight: 600;
    border-radius: 5px;
    background-color: #fbfbfb;
    padding-left: 5px !important;
    margin: 3px 5px 5px 5px !important;
}

@media (min-width: 740px) {
    .nav-link{
        width: 8rem;
    }
    
}


.nav-link:hover {
    transform: translateY(-0.4px);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

.collapse {
    background-color: #fbfbfb;
    /* margin-left: 20px; */
}

.f-info-link a {
    margin-right: 2rem;
    text-decoration: none;
    color: #222222;
}

.f-info-link a:hover {
    text-decoration: underline;
}

.f-info-link,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-social {
    font-size: 1.2rem;
    margin-right: 2rem;
}

.f-info-socials i {
    color: #222222;
    font-size: 1.2rem;
    margin-right: 2rem;
}

.f-info {
    display: flex;
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.card {
    padding: 1rem;
    border: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 20rem;
    object-fit: contain;
    border-radius: 1rem;
}

.card-body {
    padding: 0.75rem;
}

.card-text {
    font-weight: 400;
    color: black !important;
}

.container {
    margin: 1rem auto;
    flex: 1;
}

.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.15;
    background-color: white;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.add-btn,
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.add-btn:hover,
.edit-btn:hover {
    background-color: #d0000e !important;
}

.show-img {
    height: 100%;
    width: auto;
    object-fit: contain;
    border-radius: 1rem;
}

.btns {
    display: flex;
    width: 10vh;
}

.review-card {
    border-radius: 8px !important;
    overflow: hidden !important;
    max-width: 100% !important;
}

.review-card .card-body {
    padding: 1rem !important;
}

.review-card .card-text {
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    width: 100% !important;
    white-space: normal !important;
}

marquee {
    margin-top: 8px;
    background-color: #96969635;
    height: 30px;
    text-align: center;
}

.btns {
    display: flex;
}

.btns .btn {
    width: 48%;
}

.image{
    display: flex;
    justify-content: center;
}

.show-img {
    height: 400px;
    max-width: 100%; 

}

.listing-card {
    margin-bottom: 2rem; 
}

.review {
    margin-top: 2rem; 
}

.review-card {
    margin-bottom: 1.5rem; 
}

.col-12 div{
    width: 48%;
    margin: 15px 0 30px 0 !important;
}

.logo{
    height: 65px;
    width: 65px;
}

/* ----------------------------------------------------------------------------------------- */
